---
pageable: true
---
<% @title = 'Articles tagged with ‘' + tagname +'’' %>
<h1>Articles tagged '<%= tagname %>'</h1>
<%= partial 'layouts/pagination_heading' %>
<%= partial 'layouts/article_list' %>
<%= partial 'layouts/pagination_links' %>